name: Build Dumper EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore GH-Offset-Dumper.sln

    - name: Build Solution
      run: msbuild GH-Offset-Dumper.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: GH-Dumper-Executable
        path: x64/Release/*.exe
